.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-color: black;
}

.logo {
  width: 90px;
  cursor: pointer;
}

.nav-items > ul {
  display: flex;
  gap: 35px;
  list-style: none;
  font-size: 18px;
  align-items: center;
}

.nav-items > ul > li {
  color: black;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.nav-items > ul > li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(13, 13, 97);
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.nav-items > ul > li:hover::after {
  width: 100%;
}

.rest-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px 40px;
  background-color: #f8f8f8;
}

.rest-card {
  width: 280px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.rest-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card1-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.rest-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333;
}

.rest-card h4 {
  margin: 4px 0;
  font-size: 14px;
  color: #686b78;
  font-weight: 400;
}

.rating {
  display: inline-block;
  background-color: #48c479;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 6px;
}

.search {
  padding: 20px 40px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 19px;
  padding: 14px 40px;
}
